DOCTYPE html>
.normal {
  font-style: normal;
}
div style = "background-color:lightblue"

html>
head>
style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
style
head
body>
Savings Table Records for January and Feburary{}h2>
p style="color:#FF0000";>This belowmentioned would be the monthly aggregate savings of Person A living in Singapore as of 2019.</p>

<table style="width:100%">
  <caption>Monthly savings</caption>
  <tr>
    <th>Month(s)</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>February</td>
    <td>$50</td>
  </tr>
</table>

</body>
</html>
</div>

p.italic {
  font-style: italic;
}

Here is the records of drinks expended on.
<H2 align=right> and this is a flush right
heading </H2>

<ul align=right; style="list-style-type:disc;">
  <li align=right;> Coffee</li>
  <li align=right;> Tea</li>
  <li align=right;> Milk</li>
</ul align=right>

<p style="color:#800000";>This is a summary of the records of the drinks expended on and the variety expended on.</p>






<form>
<input type="button" value="Visit HTML Tutorial Site for more details" onclick="window.location.href='http://www.hyperlinkcode.com/button-links.php'" />
</form>


<a style="color:#0000FF";href="https://www.w3schools.com/html/">Visit our HTML tutorial for more insights</a>
